{% extends 'index.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <form action="" method="GET">
                <div class="form-group row p-3">
                    <label class="col-sm-2 col-form-label">Nome da Ambiente: </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                               placeholder="Digite o nome do Ambiente">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row g-3">
        {% for ambiente in object_list %}
                <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <h3 class="text-center"><strong>{{ambiente.nome}}</strong></h3>
                <hr>
                <div class="card-body">
                    <p class="card-text"><strong>Nomenclatura:</strong> {{ambiente.nomenclatura}}</p>
                    <p class="card-text"><strong>Exclusividade:</strong>{{ambiente.exclusividade}}</p>
                    <span class="card-text">
                        Bloco:
                        <span class="badge bg-secondary ">{{ ambiente.bloco }}</span>
                    </span>


                </div>
                <hr>
                <div class="card-body">
                      <a href="{% url 'ambiente_editar' ambiente.pk %}"
                        class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{% url 'ambiente_apagar' ambiente.pk %}"
                         class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                    <a href="{% url 'verificar_chave' 'ambiente' ambiente.id %}"
                        class="btn btn-success btn-sm">
                        <i class="bi bi-key"></i>
                    </a>
                </div>
            </div>
            </div>
            {% empty %}
            <p class="text-center mt-4">
             Nenhum Ambiente cadastrado
            </p>

        {% endfor %}
        </div>
             <div class="d-flex justify-content-center mt-4">
                {% bootstrap_pagination object_list url="/ambientes?page=1" size="sm" %}
            </div>
</div>

    </section>
{% endblock %}
