<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="pt-br">
<head>
    {% block head %}
        {% include "head.html" %}
    {% endblock %}
</head>
<body style="display:flex; flex-direction:column; min-height:100vh;">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>

    {% block header %}
        {% include "header.html" %}
    {% endblock %}

    <div class="container-fluid flex-grow-1">
        <div class="row">

            <div class="sidebar border border-right col-md-2 p-3 bg-body-tertiary d-flex flex-column gap-3">
           <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" >
            <div class="d-flex justify-content-center align-items-center" style="height: 170px;">
                   <img src="{% static 'img/logo.png' %}" alt="Logo" width="140">
                 </div>

                <h3>E.E.E.F. Maria Lucia</h3>
                  <hr>
                 {% if request.user.is_authenticated %}
                <div class="dropdown mb-2 w-100">
                        <button class="btn btn-custom dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill-add"></i> Cadastrar Usuarios
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'usuario_adicionar' %}">Cadastrar Usuario</a></li>
                            <li><a class="dropdown-item" href="{% url 'usuarios' %}">Listagem de Usuarios</a></li>
                        </ul>
                    </div>

                    <div class="dropdown mb-2 w-100">
                        <button class="btn btn-custom dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-buildings"></i> Ambientes
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'ambiente_adicionar' %}">Cadastrar Ambiente</a></li>
                            <li><a class="dropdown-item" href="{% url 'ambientes' %}">Listagem de Ambientes</a></li>
                            <li><a class="dropdown-item" href="#">--------------------------------------</a></li>
                            <li><a class="dropdown-item" href="{% url 'bloco_adicionar' %}">Cadastrar Bloco</a></li>
                            <li><a class="dropdown-item" href="{% url 'blocos' %}">Listagem dos blocos</a></li>
                        </ul>
                    </div>

                    <div class="dropdown mb-2 w-100">
                        <button class="btn btn-custom dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-key"></i> Chaves e Copias
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'chaveMestra_adicionar' %}">Cadastrar Chave Mestra</a></li>
                            <li><a class="dropdown-item" href="{% url 'chaves' %}">Listagem de Chaves</a></li>
                            <li><a class="dropdown-item" href="#">--------------------------------------</a></li>
                            <li><a class="dropdown-item" href="{% url 'copia_chaves_adicionar' %}">Cadastrar Copia Chave</a></li>
                            <li><a class="dropdown-item" href="{% url 'copia_chaves' %}">Listagem das Copias das chaves</a></li>
                        </ul>
                    </div>
                   <div class="dropdown mb-2 w-100">
                        <button class="btn btn-custom dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-calendar-plus"></i> Reservas
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'reserva_adicionar' %}">Realizar Reservas</a></li>
                            <li><a class="dropdown-item" href="{% url 'reservas' %}">Reservas Realizadas</a></li>
                        </ul>
                    </div>
                    <div class="dropdown mb-2 w-100">
                        <button class="btn btn-custom dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-arrow-left-right"></i> Emprestimo
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'emprestimo_adicionar' %}">Realizar um Emprestimo</a></li>
                            <li><a class="dropdown-item" href="{% url 'emprestimos' %}">Emprestimos Realizados</a></li>
                        </ul>
                    </div>



                    <div class="dropdown mb-2 w-100">
                        <button class="btn btn-custom dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-door-open"></i> Usuário Logado: {{ request.user.username }}
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'alterar_senha' %}">Alterar senha</a></li>
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-link dropdown-item" type="submit">Log Out</button>
                                </form>
                            </li>
                        </ul>
                    </div>
     <hr>
               <div class="d-flex align-items-center justify-content-center gap-3">
    <div class="spinner-border text-danger" role="status"></div>
    <div style="background: #f8f9fa; color: #0d6efd;font-weight: bold;">
        Atividades Anuais
    </div>
    <div class="spinner-border text-danger" role="status"></div>

</div>
                  <hr>
               <div class="dropdown mb-2 w-100">
               <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../../static/img/diadilivro.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../../static/img/agua.png" class="d-block w-100" alt="...">
                        </div>
                          <div class="carousel-item">
                          <img src="../../static/img/festajunina.png" class="d-block w-100" alt="...">
                        </div>
                          <div class="carousel-item">
                          <img src="../../static/img/jogosEsc.png" class="d-block w-100" alt="...">
                        </div>
                          <div class="carousel-item">
                          <img src="../../static/img/dia%20do%20estudante.png" class="d-block w-100" alt="...">
                        </div>
                          <div class="carousel-item">
                          <img src="../../static/img/independencia.png" class="d-block w-100" alt="...">
                        </div>
                          <div class="carousel-item">
                          <img src="../../static/img/natal.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                    {% else %}
                    <div class="dropdown mb-2 w-100">
                        <button class="btn btn-custom dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Acesso
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% if messages %}
                    <div class="p-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

</body>
</html>
