{% extends 'index.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <form action="" method="GET">
                <div class="form-group row p-3">
                    <label class="col-sm-2 col-form-label">Chaves </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                               placeholder="Digite a descricao da chave">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center">Cahves Cadastradas</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-success">
                                <th>Descrição</th>
                                <th>Codigo</th>
                                <th>Startus</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                                 {% for chave in object_list %}
                                    <tr>
                                         <td> {{ambiente.descricao}}</td>
                                        <td> {{ambiente.pk}}</td>
                                        <td> {{ambiente.status}}</td>
                                        <td style="text-align: center">
                                            <a href="{% url 'chaves_editar' chave.pk %}">
                                                <span class="icon">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                            <a href="{% url 'chaves_apagar' chave.pk %}">">
                                                <span class="icon">
                                                    <i class="far fa-trash-alt"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% bootstrap_pagination object_list url="/chaves?page=1" size="sm" %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
