
{% extends 'index.html' %}
{% load django_bootstrap5 %}
{% block content %}
   <div class="card shadow m-3 col-md-6 mx-auto">
     <div class="card-body">
        <h3 class="text-center">Cadastro de Chaves</h3>
        {% if ambiente %}
            <div class="alert alert-info">
                <strong>Ambiente:</strong> {{ ambiente.get_nome_display }} <br>
                <strong>Nomenclatura:</strong> {{ ambiente.nomenclatura }} <br>
                <strong>Bloco:</strong> {{ ambiente.bloco }}
            </div>
        {% endif %}
        {% if bloco %}
            <div class="alert alert-info">
                <strong>Bloco:</strong> {{ bloco }}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-end">
                {% bootstrap_button button_type="submit" content="Salvar" %}
                <a href="{% url 'chaves' %}" class="btn btn-secondary text-white">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
   </div>
{% endblock %}