{% extends 'index.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <h3 class="text-center">Devolução de Empréstimo</h3>
                <p class="p-2 mt-2"><strong>Número do Empréstimo: </strong>{{ object.id }}</p>
                <p class="p-2 mt-2"><strong>Pessoa: </strong>{{ object.pessoa }}</p>
                <p class="p-2 mt-2"><strong>Cópias das Chaves: </strong>
                    {% for copia in object.copias_chave.all %}
                        {% if forloop.last %}
                            {{ copia }}
                        {% else %}
                            {{ copia }},
                        {% endif %}
                    {% empty %}
                        Nenhuma cópia registrada
                    {% endfor %}
                </p>
                <p class="p-2 mt-2"><strong>Data Previsão: </strong>{{ object.data_criacao }}</p>
                <p class="p-2 mt-2"><strong>Hora Prevista: </strong>{{ object.hora_prevista }}</p>
                <p class="p-2 mt-2"><strong>Status Atual: </strong>{{ object.status }}</p>
                <hr>
                <h5 class="text-center mt-2">Registrar Devolução</h5>
                <form method="POST">
                    <p class="p-2 mt-2"><strong>Data Prevista: </strong>{{ object.data_prevista }}</p>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-end">
                        {% bootstrap_button button_type="submit" content="Confirmar Devolução" %}
                        <a href="{% url 'emprestimos' %}" class="btn btn-secondary text-white" type="button">
                            <span class="text">Cancelar</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
