<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>

<body>

    <h2>Olá {{ usuario.nome }}</h2>

    <p>
        Identificamos que sua chave está em atraso.
    </p>

    <p>
        <strong>Data prevista:</strong>
        {{ data_prevista }}
    </p>

    <p>
        <strong>Hora prevista:</strong>
        {{ hora_prevista }}
    </p>

    <p>
        Pedimos que realize a devolução o quanto antes.
    </p>

    <br>

    <p>
        Atenciosamente,<br>
        <strong>E.E.E.F Maria Lucia</strong>
    </p>

</body>
</html>