{% extends 'index.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <form action="" method="GET">
                <div class="form-group row p-3">
                    <label class="col-sm-2 col-form-label">Nome do Usuario: </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                               placeholder="Digite o nome do Usuario">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center">Usuarios Cadastrados</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-success">
                                <th>Nome</th>
                                <th>Email</th>
                                <th>senha</th>
                                 <th>Tipo de Usuarios</th>
                                <th>Foto</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                                 {% for usuario in object_list %}
                                    <tr>
                                        <td> {{usuario.nome}}</td>
                                        <td> {{usuario.email}}</td>
                                        <td> {{usuario.senha}}</td>
                                       <td> {{usuario.tipoUsuario}}</td>
                                        <td> {% if usuario.foto %}
                                                    <img src="{{ usuario.foto.url }}" width="80" height="80" class="rounded-circle">
                                                {% else %}
                                                    Sem foto
                                                {% endif %}</td>

                                         <td class="text-center">
                                            <a href="{% url 'usuario_editar' usuario.pk %}">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a href="{% url 'usuario_apagar' usuario.pk %}">
                                                <i class="bi bi-trash3"></i>
                                            </a>
                                        </td>
                                        <td>
                                          <div class="modal fade" tabindex="-1" id="modal{{ usuario.id }}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Usuário: {{ usuario.nome }}</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body d-flex justify-content-center">
                                                            <div class="text-center">
                                                                {% if usuario.foto %}
                                                                    <img src="{{ usuario.foto.url }}"
                                                                         class="img-thumbnail mb-2"
                                                                         width="120" height="120" alt="Foto do usuário"/>
                                                                {% else %}
                                                                    <p>Sem foto</p>
                                                                {% endif %}
                                                                <h6><strong>Fone:</strong> {{ usuario.fone }}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  <div class="d-flex justify-content-center">
                        {% bootstrap_pagination object_list url="/usuarios?page=1" size="sm" %}
                    </div>
                    </div>
            {% endif %}
        </div>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    </section>
{% endblock %}
